.collection-preview {
    padding: 3%;

    .collection-items {
        display: flex;
        justify-content: space-between;

        .collection-item {
            width: 22%;
            height: 350px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .image {
                width: 100%;
                height: 95%;
                background-size: cover;
                background-position: center;
                margin-bottom: 5px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 10px;
            }

            .image:hover {
                opacity: 0.8;

                .custom-button {
                    display: flex;
                }
            }

            .custom-button {
                opacity: 0.8;
                display: none;
            }

            .collection-item-footer {
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 5%;
            }
        }
    }
}